[project]
name = "terrain-change-detection-pc"
version = "0.1.0"
description = "Terrain change detection based on multi-temporal point clouds"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "laspy>=2.5.4",
    "plotly>=6.2.0",
    "py4dgeo>=0.7.0",
    "pyvista>=0.46.0",
]
